ion-card{
    margin-top: 20px;
    max-width:auto;
    max-height: auto;
    width: auto;
    height: auto;


  }

  .centrar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
