<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
      
  <ion-title color="black" *ngFor="let i of usuario"> BIENVENIDO {{ i.email }}

  </ion-title>
  

    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="custom-menu-content">

  <ng-container *ngIf="!loading">
    <ng-container *ngFor="let menu of arrayMenu">
      <ion-card class="menuEnabled" [routerLink]="menu.url" *ngIf="menu.disabled">
        <div (click)="Toast_3()" class="box">
        
          <h4>
          <ion-icon size="large" [name]="menu.icono"></ion-icon>
           PERFIL
          </h4>
        </div>
      </ion-card> 
  
    </ng-container>
  </ng-container>
  
  <ng-container *ngIf="loading"> 
    <div class="boxSkeleton" *ngFor="let item of [1,2,3,4,5]">
      <ion-skeleton-text class="skeleton"></ion-skeleton-text>
    </div>
  </ng-container>


<ion-card class="card1">
  <ion-card-header>
    <ion-card-title class="titulo">MENU</ion-card-title>
  </ion-card-header>
<ion-card-content id="car2">
  <ion-button (click)="Toast()" shape="round" expand="full" (click)="Asistencia()" class="custom-button custom-attendance-button">Asistencia
      <ion-icon slot="end" name="calendar-outline"></ion-icon>
  </ion-button>
</ion-card-content>

<ion-card-content id="car2">
  <ion-button (click)="Toast_2()"  shape="round" expand="full" (click)="Qr()" class="custom-button custom-qr-button">QR
      <ion-icon slot="end" name="qr-code-outline"></ion-icon>
  </ion-button>
</ion-card-content>

<ion-card-content id="car3">
  <ion-button shape="round" expand="full" (click)="desLogin()" class="custom-button custom-logout-button">Cerrar Sesión
      <ion-icon slot="end" name="exit-outline"></ion-icon>
  </ion-button>
</ion-card-content>


</ion-card>

<ion-card>
  <ion-card-content>
    <ion-button (click)="obtenerChisteProgramacion()">GENERE SU CHISTE
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-button>
    <p>{{ chiste }}</p>
  </ion-card-content>
</ion-card>




</ion-content>