<ion-header>
  <ion-toolbar>
    <ion-title>¡Bienvenido a la Aplicación QR de Asistencia de Laloh para la seccion PGY4121001D!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <p>
      Esta aplicación QR de asistencia está diseñada para facilitar el proceso de seguimiento de la asistencia a eventos, clases o reuniones mediante códigos QR.
    </p>
  
    <h2>Características principales:</h2>
    <ul>
      <li>Generación de Códigos QR de Asistencia para Eventos</li>
      <li>Escaneo de Códigos QR por parte de los Participantes</li>
      <li>Registro Automático de Asistencia</li>
      <li>Seguimiento en Tiempo Real de la Asistencia</li>
    </ul>
  
    <h2>¿Cómo funciona?</h2>
    <p>
      Para utilizar la aplicación, siga estos pasos simples:
    </p>
    <ol>
      <li>Cree un evento y genere un código QR de asistencia para ese evento.</li>
      <li>Los participantes escanean el código QR con la aplicación para registrar su asistencia.</li>
      <li>La aplicación registra automáticamente la asistencia y proporciona datos en tiempo real.</li>
    </ol>
  
    <h2>Beneficios:</h2>
    <p>
      Con nuestra aplicación QR de asistencia, puede llevar un registro eficiente de la asistencia a sus eventos y tomar decisiones informadas basadas en datos en tiempo real.
    </p>
  
    <h2>Comience ahora:</h2>
    <p>
      ¡Comience a utilizar nuestra aplicación y simplifique el proceso de seguimiento de la asistencia hoy mismo!
    </p>
  </ion-content>
