<ion-header [translucent]="true">
  <ion-toolbar class="tol">
    <ion-icon (click)="close()" style="font-size: 25px;" slot="end" name="close-outline"></ion-icon>
    <ion-title>Resultado Qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-menu-content" [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      Información del código QR
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          Asignatura: {{ infoQr.asignatura }}
        </ion-item>
        <ion-item>
          Docente: {{ infoQr.docente }}
        </ion-item>
        <ion-item>
          Fecha: {{ infoQr.fecha }}
        </ion-item>
        <ion-item>
          Hora: {{ infoQr.hora }}
        </ion-item>
        <ion-item>
          Lección: {{ infoQr.leccion }}
        </ion-item>
        <ion-item>
          Sala: {{ infoQr.sala }}
        </ion-item>
        <ion-item>
          Sección: {{ infoQr.seccion }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  
  <ion-button shape="round" (click)="guardarAsistencia()">guardar</ion-button>
</ion-content>