<ion-header [translucent]="true">
  <ion-toolbar class="tol">
    <ion-icon (click)="close()" style="font-size: 25px;" slot="end" name="close-outline"></ion-icon>
    <ion-title>Resultado Qr</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-menu-content" [fullscreen]="true">

    <ion-card *ngFor="let i of dataQr">
    <ion-card-header>
      
  
    
    </ion-card-header>
  
    <ion-card-content>
      <p>Asignatura: {{dataQr.asignatura}}  </p>
      <p>Docente: {{dataQr.docente}}</p>
      <p>Fecha:  {{dataQr.fecha}}</p>
      <p>Hora {{dataQr.hora}}</p>
      <p>Sala: {{dataQr.sala}} </p>
      <p>Seccion: {{dataQr.seccion}}  </p>
      <p>Leccion: {{dataQr.leccion}}  </p>

      <ion-button shape="round" (click)="Asistencia1()">guardar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>