.contenido-menu {
    --background: #ffffff00;
    background-image: url('https://w0.peakpx.com/wallpaper/722/801/HD-wallpaper-anonymous-hacker.jpg');
    background-size: cover;
    height: auto;
  }

  
  
  
  
  
  ion-title {
    color: #000; 
    font-size: 20px;
    font-weight: bold;
  }
  
 
  ion-card {
    background-color: #ffffff;
    border: 1px solid #000000; 
    border-radius: 10px;
    padding: 20px;
  }
  
  ion-card-title {
    color: #ff6600; 
    font-size: 18px;
  }
  
  ion-card-content p {
    color: rgb(0, 0, 0); 
  }
  .tol1{
    background: #0026ff;
  }



